{% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
    <section class="mt-5 p-5 wow fadeIn" style="max-width: 800px; margin: 0 auto">
        <div>
            <a href="{{ path('home') }}" class="btn btn-outline-info">Retour vers la page d'accueil</a>
        </div>
        {% if error %}
            <div class="alert alert-dismissible alert-warning">
                <h4 class="alert-heading">Erreur!</h4>
                <p class="mb-0">{{ error.messageKey|trans(error.messageData, 'security') }}</p>
            </div>
        {% endif %}
        {% if app.user %}
            <div class="mb-3">
                You are logged in as {{ app.user.username }}, <a href="{{ path('logout') }}">Logout</a>
            </div>
        {% endif %}
        <div class="card">
            <h5 class="card-header info-color white-text text-center py-4">
                <strong>Connexion</strong>
            </h5>
            <div class="card-body px-lg-5 pt-0">
                <form class="text-center" style="color: #757575;" method="post">
                    <!-- Email -->
                    <div class="md-form">
                        {#<input type="email" id="materialLoginFormEmail" class="form-control" name="email" value="{{ last_username }}" required autofocus>#}
                        <input type="email" id="materialLoginFormEmail" class="form-control" name="email" value="" required autofocus>
                        <label for="materialLoginFormEmail">E-mail</label>
                    </div>
                    <div class="md-form">
                        <input type="password" id="materialLoginFormPassword" class="form-control" name="password" required>
                        <label for="materialLoginFormPassword">Mot de passe</label>
                    </div>
                    <div class="d-flex justify-content-around">
                        <div>
                            <!-- Remember me -->
                            <div class="form-check">
                                <input type="checkbox" class="form-check-input" id="materialLoginFormRemember" name="_remember_me" checked>
                                <label class="form-check-label" for="materialLoginFormRemember">Se souvenir de moi</label>
                            </div>
                        </div>
                        <div>
                            <!-- Forgot password -->
                            <a href="javascript:void(0)">Mot de passe oublié?</a>
                        </div>
                    </div>
                    <input type="hidden" name="_csrf_token"
                           value="{{ csrf_token('authenticate') }}"
                    >
                    <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">
                        Se connecter
                    </button>
                    <!-- Register -->
                    <p>Vous n'êtes pas encore membre?
                        <a href="{{ path('register') }}">S'inscrire</a>
                    </p>

                    <!-- Social login -->
                    <small>Connexion sécurisé</small>
                </form>
            </div>
        </div>
    </section>
{% endblock %}
