{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}-Home{% endblock %}

{% block body %}
    {% include 'home/caroussel.html.twig' %}
    <!--Main layout-->
    <div id="target" style="position: relative; top: -55px"></div>
    <main id="main">
        <div class="container">
            <section class="mt-5 wow fadeIn">
                <h2 class="text-center mb-5">Listes des figures</h2>
                <div class="row">
                    {% for trick in tricks  %}
                        <!--Grid column-->
                        <article class="col-lg-3 col-md-12 mb-4">
                            <!--Card-->
                            <div class="card">
                                <!--Card image-->
                                <div class="view overlay">
                                    {% if trick.images %}
                                        <img src="{{ asset('uploads/'~ trick.images[0].completeUrl) }}" alt="Image de présentation" class="card-img-top" width="100">
                                    {% else %}
                                         <img src="http://placehold.it/300x200" class="card-img-top" alt="placehold.it">
                                    {% endif %}
                                       <a href="{{ path('trick_show', {'slug': trick.slug}) }}">
                                        <div class="mask rgba-white-slight"></div>
                                    </a>
                                </div>
                                <!--Card content-->
                                <div class="card-body">
                                    <!--Title-->
                                    <h4 class="card-title">{{ trick.title }}</h4>
                                    <!--Text-->
                                    <a href="{{ path('trick_show', {'slug': trick.slug}) }}" class="btn btn-indigo btn-sm">Voir la figure</a>

                                    {% if app.user %}
                                        {% if app.user is same as(trick.createdBy) or app.user.roles[0] is same as('ROLE_ADMIN')%}
                                            <div class="d-flex justify-content-end">
                                                <a href="{{ path('trick_edit', {'slug': trick.slug}) }}" class="btn btn-info btn-sm"><i class="fa fa-pen"></i></a>
                                                {{ include('trick/_delete_form.html.twig') }}
                                            </div>
                                        {% endif %}
                                    {% endif %}

                                </div>
                            </div>
                            <!--/.Card-->
                        </article>
                        <!--Grid column-->

                    {% endfor %}
                </div>
                <div id="more" class="row"></div>
                <button class="btn btn-primary" id="loadmore">Voir plus de figures</button>

            </section>
        </div>
    </main>
    <!--Main layout-->
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        document.getElementById("scrollTo").addEventListener("click", ()=> {
            document.getElementById("target").scrollIntoView({behavior: "smooth", block: "start", inline: "nearest"})
        })
    </script>
    <script>
        $(document).ready(function(){
            let count = 0   ;
            $("#loadmore").on("click", function(){
                count += 4;
                $.ajax({
                    url: "{{ path('home')}}",
                    type: 'GET',
                    data: { row : count },
                    dataType: "json",
                    success: function (data) {
                        $("#more").append(data.view);
                    },
                    error : function() {
                        alert('Un problème est survenu lors du chargement des figures.');
                    }
                });
            });
        });
    </script>
{% endblock %}
