{% for comment in comments %}
    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-2 col-md-1">
                <img class="img-circle img-responsive"
                     src="https://eu.ui-avatars.com/api/?name={{comment.user.firstname}}+{{comment.user.lastname}}&background=0D8ABC&color=fff"
                     alt="Initial de l'utilisateur"
                     width="50">
            </div>
            <div class="col-xs-10 col-md-11">
                <div>
                    <div class="mic-info">
                        By: <a href="javascript:void(0)">{{comment.user.firstname | title }} {{comment.user.lastname | title }}</a> le  {{ comment.createdAt | date('d/m/Y') }}
                        {% if comment.user.roles[0] is same as('ROLE_ADMIN') %}
                            <span class="badge badge-primary">Administrateur</span>
                        {% endif %}
                    </div>
                </div>
                <div class="comment-text">
                    {{ comment.content }}
                </div>
                {% if app.user %}
                    <div class="action d-flex">
                        {% if app.user is same as(comment.user) or app.user.roles[0] is same as('ROLE_ADMIN')%}
                            {{ include('comment/_delete_form.html.twig') }}
                        {% endif %}
                        {{ include('comment/_signalement_form.html.twig', {'detail': 'signaled'}) }}
                    </div>
                {% endif %}
            </div>
        </div>
    </li>
{% endfor %}
