{% extends 'base.html.twig' %}

{% block title %}{{ parent() }}-Admin{% endblock %}

{% block body %}
    <div class="container-for-admin">
        <!--Main layout-->
        <main class="pt-5 row">
            <div class="container-fluid mt-5" style="max-width: 1440px; margin: 0 auto">
                <h1>Administration</h1>
                <!--Grid row-->
                <div class="row wow fadeIn">
                    <!--Grid column-->
                    <div class="col-md-9 mb-4">

                        <!--Card-->
                        <div class="card">

                            <!--Card content-->
                            <div class="card-body row">
                                <!--Card-->
                                <div class="card bg-primary col-lg-5 mr-2 mb-2 pt-5 pb-5" >
                                    <!--Card content-->
                                    <div class="card-body text-center">
                                        <i class="fa fa-user text-white" style="font-size: 50px"></i>
                                    </div>
                                    <div class="text-center">
                                        <p class="text-white" style="font-size: 30px">22</p>
                                    </div>
                                    <a href="{{ path('user_index') }}" class="btn btn-indigo">Voir</a>
                                </div>
                                <!--/.Card-->
                                <!--Card-->
                                <div class="card bg-primary col-lg-5 mr-2 mb-2 pt-5 pb-5" >
                                    <!--Card content-->
                                    <div class="card-body text-center">
                                        <i class="fa fa-comment text-white" style="font-size: 50px"></i>
                                    </div>
                                    <div class="text-center">
                                        <p class="text-white" style="font-size: 30px">136</p>
                                    </div>
                                    <a href="#" class="btn btn-indigo">Voir</a>
                                </div>
                                <!--/.Card-->
                                <!--Card-->
                                <div class="card bg-primary col-lg-5 mr-2 mb-2 pt-5 pb-5">
                                    <!--Card content-->
                                    <div class="card-body text-center">
                                        <i class="fas fa-snowboarding text-white" style="font-size: 50px"></i>
                                    </div>
                                    <div class="text-center">
                                        <p class="text-white" style="font-size: 30px">88</p>
                                    </div>
                                    <a href="#" class="btn btn-indigo">Voir</a>
                                </div>
                                <!--/.Card-->
                            </div>

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->
                    <!--Grid column-->
                    <div class="col-md-3 mb-4">

                        <!--Card-->
                        <div class="card mb-4">
                            <div class="text-right"><a href="{{ path('trick_group_new') }}" class="btn btn-indigo btn-sm "><i class="fa fa-plus"></i></a></div>
                            <!--Card content-->
                            <div class="card-body">
                                <h2>Listes des groupes</h2>
                                <!-- List group links -->
                                <div class="list-group list-group-flush">
                                    {% for group in trick_groups %}
                                        <a href="{{ path('trick_group_edit', {'id': group.id}) }}" class="list-group-item list-group-item-action waves-effect">
                                        <img src="{{ group.icone }}" alt="Icone" width="20" class="mr-2">
                                            {{ group.title | title }}
                                            <span class="badge badge-danger badge-pill pull-right float-right">
                                            <i class="fa fa-trash"></i>
                                        </span>
                                            <span class="badge badge-info badge-pill pull-right float-right">
                                            <i class="fa fa-pen"></i>
                                        </span>
                                        </a>
                                    {% endfor %}

                                </div>
                                <!-- List group links -->

                            </div>

                        </div>
                        <!--/.Card-->

                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->
                <div class="position-relative">
                    <h2>Les dernières figures ajoutés.</h2> <small class="text-danger">ReadAll limit 5</small>
                </div>
                <!--Grid row-->
                <article class="wow fadeIn">
                    <div class="row">
                        <!-- Table with panel -->
                        <div class="card card-cascade narrower col-lg-12">
                            <div class="px-4">
                                <div class="table-wrapper">
                                    <!--Table-->
                                    <table class="table table-hover mb-0">
                                        <!--Table head-->
                                        <thead>
                                        <tr>
                                            <th>
                                                <label class="form-check-label mr-2 label-table" for="checkbox"></label>
                                            </th>
                                            <th class="th-lg">
                                                <a href="javascript:void(0)">Titre</a>
                                            </th>
                                            <th class="th-lg">
                                                <a href="javascript:void(0)">Description</a>
                                            </th>
                                            <th class="th-lg">
                                                <a href="javascript:void(0)">Groupe</a>
                                            </th>
                                            <th class="th-lg">
                                                <a href="javascript:void(0)">Nombre d'images/videos</a>
                                            </th>
                                            <th class="th-lg">
                                                <a href="javascript:void(0)">Action</a>
                                            </th>
                                        </tr>
                                        </thead>
                                        <!--Table head-->
                                        <!--Table body-->
                                        <tbody>
                                        <tr>
                                            <th scope="row">
                                                <input class="form-check-input" type="checkbox" id="checkbox1">
                                                <label class="form-check-label label-table" for="checkbox1"></label>
                                            </th>
                                            <td>Front flip</td>
                                            <td>Lorem ipsum.</td>
                                            <td>Facile</td>
                                            <td>3</td>
                                            <td>
                                                <a href="javascript:void(0)" class="btn btn-info"><i class="fas fa-info-circle"></i></a>
                                                <a href="javascript:void(0)" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                                <a href="javascript:void(0)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <input class="form-check-input" type="checkbox" id="checkbox2">
                                                <label class="form-check-label label-table" for="checkbox2"></label>
                                            </th>
                                            <td>Back Flip</td>
                                            <td>Lorem ipsum.</td>
                                            <td>Facile</td>
                                            <td>5</td>
                                            <td>
                                                <a href="javascript:void(0)" class="btn btn-info"><i class="fas fa-info-circle"></i></a>
                                                <a href="javascript:void(0)" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                                <a href="javascript:void(0)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <input class="form-check-input" type="checkbox" id="checkbox3">
                                                <label class="form-check-label label-table" for="checkbox3"></label>
                                            </th>
                                            <td>360</td>
                                            <td>Lorem ipsum.</td>
                                            <td>Confirmé</td>
                                            <td>4</td>
                                            <td>
                                                <a href="javascript:void(0)" class="btn btn-info"><i class="fas fa-info-circle"></i></a>
                                                <a href="javascript:void(0)" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                                <a href="javascript:void(0)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <input class="form-check-input" type="checkbox" id="checkbox4">
                                                <label class="form-check-label label-table" for="checkbox4"></label>
                                            </th>
                                            <td>180</td>
                                            <td>Lorem ipsum.</td>
                                            <td>Difficile</td>
                                            <td>5</td>
                                            <td>
                                                <a href="javascript:void(0)" class="btn btn-info"><i class="fas fa-info-circle"></i></a>
                                                <a href="javascript:void(0)" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                                <a href="javascript:void(0)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <input class="form-check-input" type="checkbox" id="checkbox4">
                                                <label class="form-check-label label-table" for="checkbox4"></label>
                                            </th>
                                            <td>180</td>
                                            <td>Lorem ipsum.</td>
                                            <td>Difficile</td>
                                            <td>5</td>
                                            <td>
                                                <a href="javascript:void(0)" class="btn btn-info"><i class="fas fa-info-circle"></i></a>
                                                <a href="javascript:void(0)" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                                <a href="javascript:void(0)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        <tr>
                                            <th scope="row">
                                                <input class="form-check-input" type="checkbox" id="checkbox4">
                                                <label class="form-check-label label-table" for="checkbox4"></label>
                                            </th>
                                            <td>180</td>
                                            <td>Lorem ipsum.</td>
                                            <td>Difficile</td>
                                            <td>5</td>
                                            <td>
                                                <a href="javascript:void(0)" class="btn btn-info"><i class="fas fa-info-circle"></i></a>
                                                <a href="javascript:void(0)" class="btn btn-primary"><i class="fas fa-edit"></i></a>
                                                <a href="javascript:void(0)" class="btn btn-danger"><i class="fas fa-trash-alt"></i></a>
                                            </td>
                                        </tr>
                                        </tbody>
                                        <!--Table body-->
                                    </table>
                                    <!--Table-->
                                </div>

                            </div>

                        </div>
                        <!-- Table with panel -->
                    </div>
                </article>
                <!--Grid row-->
            </div>
        </main>
        <!--Main layout-->
    </div>

{% endblock %}
