<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Snowboard tricks{% endblock %}</title>
        {% block stylesheets %}
            <!-- Font Awesome -->
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
            <!-- Bootstrap core CSS -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
            <!-- Material Design Bootstrap -->
            <link href="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/css/mdb.min.css" rel="stylesheet">
            <!-- Personnal CSS -->
            <link rel="stylesheet" href="{{ asset('build/app.css') }}" type="text/css"/>
        {% endblock %}
    </head>
    <body>
        <!-- Navbar -->
        <nav class="navbar fixed-top navbar-expand-lg navbar-dark scrolling-navbar">
            <div class="container">
                <!-- Brand -->
                <a class="navbar-brand" href="{{ path('home') }}">
                    <strong>Snowboard tricks</strong>
                </a>
                <!-- Collapse -->
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <!-- Links -->
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <!-- Left -->
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item active">
                            <a class="nav-link" href="{{ path('home') }}">Home
                                <span class="sr-only">(current)</span>
                            </a>
                        </li>
                        {% if not app.user %}
                            <li class="nav-item">
                                <a class="nav-link" href="{{ path('login') }}">Authentification</a>
                            </li>
                        {% endif %}
                    </ul>
                    {% if app.user %}
                        <!-- Right -->
                        <ul class="navbar-nav nav-flex-icons d-none d-lg-block">
                            <li class="nav-item ">
                                <button class="btn btn-primary btn-sm p-0" type="button" data-toggle="dropdown"
                                        aria-haspopup="true" aria-expanded="false"><img
                                            class="rounded"
                                            src="https://eu.ui-avatars.com/api/?name={{app.user.firstname}}+{{app.user.lastname}}&background=0D8ABC&color=fff"
                                            alt="Initial de l'utilisateur"
                                            width="50">
                                </button>

                                <div class="dropdown-menu" style="right: 0; left: unset">
                                    <a class="dropdown-item" href="{{ path('profil') }}"><strong>Profil</strong></a>
                                    <a class="dropdown-item" href="{{ path('trick_new') }}">Créer une figure</a>
                                    {% if app.user %}
                                        {% if app.user.roles[0] is same as('ROLE_ADMIN') %}
                                            <a class="dropdown-item" href="{{ path('admin') }}">Administration</a>
                                        {% endif %}
                                    {% endif %}
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="{{ path('logout') }}"><strong>Deconnexion</strong></a>
                                </div>

                            </li>
                        </ul>
                        <ul class="d-block d-lg-none">
                            <li class="list-group">
                                <a class="dropdown-item text-white" href="{{ path('profil') }}"><strong>Profil</strong></a>
                            </li>
                            <li class="list-group">
                                <a class="dropdown-item text-white" href="{{ path('trick_new') }}">Créer une figure</a>
                            </li>
                            <li class="list-group">
                                {% if app.user %}
                                    {% if app.user.roles[0] is same as('ROLE_ADMIN') %}
                                        <a class="dropdown-item text-white" href="{{ path('admin') }}">Administration</a>
                                    {% endif %}
                                {% endif %}
                            </li>
                            <li class="list-group">
                                <a class="dropdown-item text-white" href="{{ path('logout') }}"><strong>Deconnexion</strong></a>
                            </li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>
        <!-- Navbar -->
        {% block body %}{% endblock %}
        <!--Footer-->
        <footer class="page-footer text-center font-small mt-4 wow fadeIn">
            <!--Call to action-->
            <div class="pt-4">
                <a class="btn btn-outline-white" href="https://mdbootstrap.com/docs/jquery/getting-started/download/"
                   role="button">Theme utilisé: MDB
                    <i class="fas fa-download ml-2"></i>
                </a>
                <a class="btn btn-outline-white" href="https://github.com/samakunchan" role="button" target="_blank">Repositories
                    <i class="fab fa-github ml-2"></i>
                </a>
                <a class="btn btn-outline-white" href="https://my-services.samakunchan.fr" role="button" target="_blank">Mon site web
                    <i class="fab fa-dev ml-2"></i>
                </a>
            </div>
            <!--/.Call to action-->
            <hr class="my-4">
            <!-- Social icons -->
            <div class="pb-4">
                <a href="https://www.linkedin.com/in/cedric-badjah-9646b3141/" target="_blank">
                    <i class="fab fa-linkedin mr-3"></i>
                </a>
                <a href="https://github.com/samakunchan" target="_blank">
                    <i class="fab fa-github mr-3"></i>
                </a>
                <a href="https://www.malt.fr/profile/cedricbadjah" target="_blank">Malt</a>
            </div>
            <!-- Social icons -->
            <!--Copyright-->
            <div class="footer-copyright py-3">
                © {{ 'now'|date('Y') }} Copyright: <a href="https://my-services.samakunchan.fr" target="_blank">Samakunchan Technology</a>
            </div>
            <!--/.Copyright-->
        </footer>
        <!--/.Footer-->
        {% block javascripts %}
            <!-- JQuery -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
            <!-- Bootstrap tooltips -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.4/umd/popper.min.js"></script>
            <!-- Bootstrap core JavaScript -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js"></script>
            <!-- MDB core JavaScript -->
            <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mdbootstrap/4.10.1/js/mdb.min.js"></script>
        {% endblock %}
    </body>
</html>
