{% extends 'base.html.twig' %}

{% block title %}Hello TricksController!{% endblock %}

{% block body %}
    <!--Carousel Wrapper-->
    <section style="max-width: 1440px; margin: 50px auto">
        <h2 class="text-center p-5">{{ trick.title | title }}</h2>
        <article class="row">
            <aside class="col-lg-8">
                <!--Carousel Wrapper-->
                <div id="carousel-thumb" class="carousel slide carousel-fade carousel-thumbnails" data-ride="carousel" style="height: unset;">
                    <!--Slides-->
                    <div class="carousel-inner" role="listbox">
                        {% for image in trick.images %}
                            <div class="carousel-item {% if loop.index is same as(1) %} active {% endif %}">
                                <img class="d-block w-100"
                                     src="{{ asset('uploads/' ~ image.completeUrl) }}"
                                     alt="slide{{ loop.index }}">
                            </div>
                        {% endfor %}
                        {% for video in trick.videos %}
                            <div class="carousel-item">
                                <iframe width="800"
                                        height="500"
                                        src="https://www.youtube.com/embed/{{ video.src }}"
                                        frameborder="0"
                                        allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                        allowfullscreen></iframe>
                            </div>
                        {% endfor %}
                    </div>
                    <!--/.Slides-->
                    <!--Controls-->
                    <a class="carousel-control-prev" href="#carousel-thumb" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carousel-thumb" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>

                </div>
                <!--/.Carousel Wrapper-->
                <!--/.Controls-->
                <ol class="d-flex justify-content-center list-inline single-trick-indicator p-3">
                    {% for image in trick.images %}
                        <li data-target="#carousel-thumb" data-slide-to="{{ loop.index -1 }}" class="active">
                            <img src="{{ asset('uploads/' ~ image.completeUrl) }}" width="200" alt="Indicator{{ loop.index }}">
                        </li>
                    {% endfor %}
                    {% for video in trick.videos %}
                        <li data-target="#carousel-thumb" data-slide-to="{{ (loop.index -1) + trick.images | length }}" class="active">
                            <img src="https://img.youtube.com/vi/{{ video.src }}/default.jpg" width="200" alt="Indicator video {{ video.title }}">
                        </li>
                    {% endfor %}
                </ol>
            </aside>
            <div class="col-lg-4">
                <h2>Description</h2>
                <div class="description">{{ trick.description }}</div>
            </div>
            <em>Par: <strong>{{ trick.createdBy.firstname }} {{ trick.createdBy.lastname }}</strong> le {{ trick.createdBy.createdAt | date('d/m/Y') }}</em>
        </article>
        <hr class="mt-5">
        <article>
            <h2>Commentaires</h2>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="http://www.jquery2dotnet.com/2013/10/google-style-login-page-desing-usign.html">
                                        Google Style Login Page Design Using Bootstrap</a>
                                    <div class="mic-info">
                                        By: <a href="#">Bhaumik Patel</a> on 2 Aug 2013
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Awesome design
                                </div>
                                <div class="action">
                                    <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-success btn-xs" title="Approved">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="http://bootsnipp.com/BhaumikPatel/snippets/Obgj">Admin Panel Quick Shortcuts</a>
                                    <div class="mic-info">
                                        By: <a href="#">Bhaumik Patel</a> on 11 Nov 2013
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                                </div>
                                <div class="action">
                                    <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-success btn-xs" title="Approved">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-xs-2 col-md-1">
                                <img src="http://placehold.it/80" class="img-circle img-responsive" alt="" /></div>
                            <div class="col-xs-10 col-md-11">
                                <div>
                                    <a href="http://bootsnipp.com/BhaumikPatel/snippets/4ldn">Cool Sign Up</a>
                                    <div class="mic-info">
                                        By: <a href="#">Bhaumik Patel</a> on 11 Nov 2013
                                    </div>
                                </div>
                                <div class="comment-text">
                                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh
                                    euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim
                                </div>
                                <div class="action">
                                    <button type="button" class="btn btn-primary btn-xs" title="Edit">
                                        <span class="glyphicon glyphicon-pencil"></span>
                                    </button>
                                    <button type="button" class="btn btn-success btn-xs" title="Approved">
                                        <span class="glyphicon glyphicon-ok"></span>
                                    </button>
                                    <button type="button" class="btn btn-danger btn-xs" title="Delete">
                                        <span class="glyphicon glyphicon-trash"></span>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </li>
                </ul>
            </div>
            <nav aria-label="Page navigation example" class="d-flex justify-content-center">
                <ul class="pagination pg-blue">
                    <li class="page-item disabled">
                        <a class="page-link" tabindex="-1">Previous</a>
                    </li>
                    <li class="page-item"><a class="page-link">1</a></li>
                    <li class="page-item active">
                        <a class="page-link">2 <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="page-item"><a class="page-link">3</a></li>
                    <li class="page-item">
                        <a class="page-link">Next</a>
                    </li>
                </ul>
            </nav>
        </article>
    </section>
{% endblock %}
